{% extends "layout.html.twig" %}

{% block title %}A propos{% endblock %}

{% block content %}
<article class="post-container">
    <div class="post-inner">
        <div class="post-header">
            <h2>
                <a class="post-title">A Propos</a>
            </h2> 
            
        </div>
        <div class="post-content">
            <p>Jean Forteroche est un ecrivain moderne, diplomé de lettre à l'université de Montreal.</p>
        </div>
        <div class="clear"></div>
        <!--/post-inner-->
    </div>
</article>

{% endblock %}